/*General styles*/
body {
  background-color: #f7f1de;
  color: #2d3436;
  font-family: 'Open Sans', sans-serif;
}
.btn-info, .btn-info:hover {
  background-color: #d63031;
  border-color: #d63031;
}
.progress-bar {
  background-color: #e17055;
}
#question-page, #result-page {
    display: none;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
}

/*Start styles*/
#logo {
  color: #e74c3c;
  font-weight: 400;
  font-family: 'Baloo Bhai', cursive;
  font-size: 4rem;
}

/*Result oage styles*/
#result-page h6 {
  display: block;
}
#result-page ul {
  padding: 0;
}
#result-page li {
  list-style: none;
  padding: 20px 0;
}
#result-page button, #result-page a {
  margin: 10px 0;
}

/*Radio Button Style by Wilder Taype https://codepen.io/wilder_taype/pen/pNXwMW*/
@keyframes click-wave {
  0% {
    height: 30px;
    width: 30px;
    opacity: 0.35;
    position: relative;
  }
  100% {
    height: 200px;
    width: 200px;
    margin-left: -80px;
    margin-top: -80px;
    opacity: 0;
  }
}

.option-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  position: relative;
  top: 10px;
  right: 0;
  bottom: 0;
  left: 0;
  height: 30px;
  width: 30px;
  transition: all 0.15s ease-out 0s;
  background: #cbd1d8;
  border: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  margin-right: 0.5rem;
  outline: none;
  position: relative;
  z-index: 1000;
}
.option-input:hover {
  background: #9faab7;
}
.option-input:checked {
  background: #e17055;
}
.option-input:checked::before {
  height: 30px;
  width: 30px;
  position: absolute;
  display: inline-block;
  font-size: 26.66667px;
  text-align: center;
  line-height: 30px;
}
.option-input:checked::after {
  -webkit-animation: click-wave 0.65s;
  -moz-animation: click-wave 0.65s;
  animation: click-wave 0.65s;
  background: #e17055;
  content: '';
  display: block;
  position: relative;
  z-index: 100;
}
.option-input.radio {
  border-radius: 50%;
}
.option-input.radio::after {
  border-radius: 50%;
}
body label {
  display: block;
  line-height: 40px;
}